# Auto detect text files and perform LF normalization
* text=auto

# Visual Studio
/.vs
/Escapeaway/bin
/Escapeaway/obj
/Escapeaway/Content/bin
/Escapeaway/Content/obj

# Assets owned by ShawSure and River347
Escapeaway/Content/Assets/Images/Level/player.png
Escapeaway/Content/Assets/Images/Level/devil.png
Escapeaway/Content/Assets/Audio/mainloop.mp3
Escapeaway/Content/Assets/Audio/title.mp3
